.superParent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.parent-packages{
    position: relative;
    padding-top: 20px;
}

.close{
    width: fit-content;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
}
